{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'bootstrap/css-cdn.html' %}
  </head>
  <body  style="margin-top:76px">
    {% include 'snippets/navbar.html' %}
    <div class="container px-2 py-2">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
              {{message}}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
    {% include 'bootstrap/js-cdn.html' %}
  </body>
</html>
